/*
h1 {
text-align: center;
}
*/

body {
background-color: lightsteelblue;
}

#main-container {
border: 1px solid #999;
padding: 10px;
margin: 20px;
min-height: 450px;
min-width: 400px;
background-color: #BEDEF8;
border-radius: 10px;
}

#sub-container {
margin: 10px;
}

#display {
background-color: black;
color: white;
border: 1px solid #999;
margin: 10px;
padding: 10px;
min-height: 200px;
min-width: 380px;
border-radius: 10px;
}

button {
background-color: #7FBFE6;
border-radius: 10px;
min-height: 30px;
}

input {
min-height: 30px;
min-width: 150px;
margin-left: 10px;
}

#warning {
color: red;
}

#instructions {
margin: 30px;
}

.centered {
text-align: center;
}

#displayTimer {
color: darkblue;
font-weight: bold;
}

#instructions {
padding: 10px;
border-radius: 12px; 
background-color: #BEDEF8;
}

#instructionsDiv {
margin: 20px;
}

#btn3 {
background-color: #7FBFE6;
}


.container {
padding: 10px;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

table {
margin: 0px;
padding: 10px;
text-align: center;
background-color: #BEDEF8;
}

td {
/*border: 2px solid black; */
min-width: 150px;
}

th {
border-bottom: 1px solid #999;
font-size: medium;
min-width: 150px;
}

#highScores {
margin: 0px;
padding: 0px;
}